@import-normalize;

* {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
}

html {
    display: flex;
}
body {
    scroll-margin-top: 4rem;
    width: 100vw;
    max-width: 1000px;
    margin: auto;
}
