@import-normalize;

* {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
}

html {
    display: flex;
}

body {
    height: 100vh;
    width: calc(100vw - 4rem);
    padding: 0 2rem;
}

::selection {
    background: #6504eb;
}
