@import-normalize;

* {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
}

html {
    display: flex;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0 0.5rem;
}
