/* Your styles goes here. */
@import '../../../variables.scss';
.container {
    display: flex;
    flex-flow: column;
    height: 70rem;
    & > :first-child {
        margin-bottom: 0.5rem;
    }
}

.chart {
    min-height: 10px;
    height: 100%;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 3px -2px, rgb(0 0 0 / 14%) 0 3px 4px 0,
        rgb(0 0 0 / 12%) 0 1px 8px 0;
    border-radius: 5px;
}

.no-data {
    display: flex;
    justify-content: center;

    & > * {
        margin: 0.5rem;
    }
}
