/* Your styles goes here. */
@import '../../../variables.scss';

.broker-name {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.chart {
    min-height: 0;
    height: 60rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 3px -2px, rgb(0 0 0 / 14%) 0 3px 4px 0,
        rgb(0 0 0 / 12%) 0 1px 8px 0;
}

.no-data {
    display: flex;
    justify-content: center;

    & > *,
    button {
        margin: auto 0.5rem;
    }
}

.parent-size {
    min-height: 0;
}
