/* Your styles goes here. */
@import '../../../variables.scss';

.broker-name {
    margin: 0 0 0.5em 0;
}

.chart {
    min-height: 0;

    height: 60rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.no-data {
    display: flex;
    justify-content: center;
}

.parent-size {
    min-height: 0;
}
